.centered {
    width: 100%;
    display: flex;
    height: auto;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    padding: 5px;
}

.graph {
    width: 900px;
}