.centered {
    width: 100%;
    display: flex;
    height: auto;
    align-items: center; /* vertical */
    justify-content: space-around; /* horizontal */
    padding: 5px;
}

.graph {
    display: inline-block;
    width: 900px;
}

.systemInfo {
    display: inline-block;
    width: 200px;
}